[2015-06-05 17:19] nitriques opened #1 "Vibrant.rgbToHsl is not a function"
Looks like the refactoring caused a bug.

I can't create a PR since the build would not work on my machine, but here's how to fix it.

After this line https://github.com/akfish/node-vibrant/blob/master/src/Vibrant.coffee#L14 add

[code]

Change the `Vibrant. hslToRgb ` call to `util. hslToRgb` on those two lines

https://github.com/akfish/node-vibrant/blob/master/src/Vibrant.coffee#L122

https://g

[2015-06-05 18:19] akfish commented on #1
Oops. I'll fix it right away.

[2015-06-05 18:24] #1 closed

[2015-06-05 18:24] akfish commented on #1
Published as 1.0.4

[2015-06-05 18:25] nitriques commented on #1
Thanks! Is it on npm as well ?

[2015-06-05 18:38] akfish commented on #1
Yep.

[2015-06-05 18:41] nitriques commented on #1
Thanks a lot!

[2015-06-05 18:49] akfish commented on #1
No problem. :)

[2015-06-08 15:16] JesseFarebro opened #2 "Synchronous getSwatches & browserify"
I've been trying to use Vibrant in an isomorphic setting and the asynchronous getSwatches doesn't match the API of Vibrant directly.

As well adding a browser field to package.json and add vibrant.js as a dependency because this is the only published vibrant package on npm.

[2015-06-08 16:45] akfish commented on #2
node-vibrant does not run in browser environment, yet.
I deviated from vibrant.js's API on purpose for the following reasons:
* Synchronous API is neither user-friendly nor developer-friendly. It blocks UI thread and make batch processing awkward.
* Most node.js image processing package runs asynchronously.
* Original vibrant.js API does not feel right in node.js's programming paradigm. For exampl

[2015-06-12 17:02] #2 closed

[2015-06-12 17:14] akfish commented on #2
Browser & browserify support added in v1.1.0. Identical API is used for both browser and node.js environments.

As mentioned in last comment, I implemented the asynchronous API for browser, except that I dropped the web worker approach since it will introduce un-necessary complexity and the performance is not that bad anyway. Above all, the original vibrant.js workflow is asynchronous in essence (

[2015-06-14 22:05] JesseFarebro commented on #2
Yes, this looks like exactly what I wanted! Thanks very much!

[2015-08-03 21:06] pbrandt1 opened #4 "Feature request - image from URL"
Would like to do something like `v = new Vibrant('http://slimages.macys.com/is/image/MCY/products/0/optimized/2899260_fpx.tif', opts)`

If this is something you'd like part of your lib, I can send you a PR :)

[2015-08-04 05:08] akfish commented on #4
Sure. Your PL is definitely welcome. :)

[2015-09-02 18:58] rayshan opened #6 "Support buffer for image argument"
Hi, sometimes the image file is already read into a buffer, such as when using node-vibrant as a step of a gulp pipeline. It'll be nice to not have to read the file again.

[2015-09-05 06:10] akfish commented on #6
Very good point. Though changing the API is generally not a good idea since it will break all the legacy code.
Instead in next version I'll add a cache interface that will cache images by their names. One can use the default cache implementation by:
[code]

Or use his/her own cache implementation:
[code]

[2015-09-05 06:42] akfish commented on #6
There's also a perhaps hacky alternative if you are in a hurry.

The `Vibrant` constructor's `imagePath` argument are [passed directly to the abstract `Image` constructor](https://github.com/akfish/node-vibrant/blob/master/src/vibrant.coffee#L53), which is [`NodeImage`](https://github.com/akfish/node-vibrant/blob/master/src/node-image.coffee) in node environment. The `NodeImage` [uses Jimp](https:

[2015-09-05 23:16] rayshan commented on #6
谢谢 @akfish. I can confirm `new Vibrant(imageBuffer);` works. Shaved a little time on processing a very large set of image files. This is the exact API user would expect, so I think you don't need to change any code, just the documentation, right? I'll leave the issue open for you to decide.

[2015-09-06 07:15] akfish commented on #6
No problem. I'll document this behavior first and revisit image caching when I have time. Close for now.

[2015-09-06 07:15] #6 closed

[2015-09-24 23:38] gpbmike opened #7 "A wild console.log appears"
Noticed this spitting out image dimensions in my console. Intentional?

https://github.com/akfish/node-vibrant/blob/master/src/browser-image.coffee#L25

[code]

Also, awesome tool. Checking it out for the first time today. :+1:

[2015-09-26 05:03] akfish commented on #7
Thanks for pointing it out. It's just some debug code being left over. I'll clean it up.

[2015-09-29 10:21] #7 closed

[2015-10-15 12:54] ScottKriegerPD commented on #4
Looking for this feature as well. Any progress on this?

[2015-10-15 15:05] pbrandt1 commented on #4
yeah, i've got it working in node, but wasn't able to get gulp to do the browser part.  Maybe you know what's wrong?

[code]

[2015-10-15 15:11] ScottKriegerPD commented on #4
Staring at that same error on my fork. I've yet to dig into the code to decipher, but gulp browser gives me the same error. I'm after doing this in node rather than the browser though if you have some pointers.

[2015-10-15 15:41] akfish commented on #4
I'll take a look and get back to you both.

[2015-10-15 16:00] akfish commented on #4
Looks like some weird cross-platform issues somewhere along the build tool chain.

Don't worry about it though since this feature is node.js-only and `gulp browser` builds browser target. Changes in `node-image.coffee` won't affect those. Use `gulp coffee` and `gulp test` should do for this PL's purpose.

[2015-10-15 16:27] akfish commented on #4
It turns out this project is still using an older version of my `gulp-heap` package. The bug causing this problem was fixed in later version.
Try run `npm install gulp-heap@2.0.0-alpha.1`. See if that will fix the problem.

[2015-10-15 16:29] ScottKriegerPD commented on #4
That did fix the issue.
`
scott:node-vibrant scottkrieger$ gulp browser
[12:28:40] Requiring external module coffee-script/register
[12:28:41] Using gulpfile ~/node-vibrant/gulpfile.coffee
[12:28:41] Starting 'coffee'...
[12:28:41] Finished 'coffee' after 7.42 ms
[12:28:41] Starting 'browser'...
[12:28:42] Finished 'browser' after 235 ms
`

[2015-10-21 21:24] #4 closed

[2015-10-21 22:43] rayshan opened #10 "Update API to match latest Palette in Android M"
Hi, would you please consider this? The latest is supposed to be up to 6x faster and include new APIs such as filters. Here's a video from Google I/O: https://youtu.be/8UicJ0SxBwA?t=19m44s

I believe the latest code is here: https://github.com/android/platform_frameworks_support/blob/master/v7/palette/src/main/java/android/support/v7/graphics/Palette.java

Latest API docs: https://developer.androi

[2015-10-22 10:36] akfish commented on #10
Sure. I'll give it some look and get back to you.

[2015-10-22 22:32] akfish opened #11 "Quantizer optimization investigation"
Investigate the possibility of optimizing color quantizer

- [x] Reduce copy operations. Do stuff in-place.
- [x] Investigate Android M's ColorCutQuantizer

[2015-10-22 22:37] akfish opened #12 "Optimization: implement image downsampling"
The sampling stage is the main hotspot. Current implementation is not ideal due to the ugly loop which copies pixels explicitly, which is a huge waste of computation time.
It should and will be done with some more native approach to utilize browser/JS engine optimizations.

- [x] Add `Image.downsampling` method
- [x] In node.js env
- [x] In browser env

[2015-10-22 22:39] akfish commented on #10
This issue will track the API changes:
- [ ] `Builder`
- [ ] `Generator`
- [ ] `Filter`

For optimizations, refer to #11 #12.

[2015-10-22 22:45] akfish opened #13 "Calculate proper text color for each swatch to ensure contrast"
Extracting the swatches is just half of the puzzle. Usually we need to display some text content over the background colored with the extracted swatches. There is a deterministic way to determine whether the text color should be white or black to ensure contrast for optimal readability.

[2015-10-22 22:47] akfish opened #14 "Test Improvements"
- [x] Run specs in browser environment (use karma)
- [x] Compare color by their similarity instead of looking for exact match
- [x] Specs for new APIs

[2015-10-22 22:49] akfish opened #15 "Proper project page"
Although this port is focused on node.js, it's time for a proper project page.
- [ ] Show cases
- [ ] Live demo
- [ ] Docs

[2015-10-23 00:57] rayshan commented on #10
非常感谢！Sorry I'm not familiar with the algorithms, but let me know how else I can help.

[2015-10-23 01:06] rayshan commented on #13
+1

I'm currently using https://github.com/bgrins/TinyColor to do this. Here's a simple example:

[code]

[2015-10-23 07:56] akfish commented on #11
Commit fe5b3f4 implemented a NoCopy quantizer, which is ~2.5x faster than baseline implementation.

Baseline uses a nasty `while` loop to handle the downsampling and copy the pixels into a format that the upstream `quantize` library could consume. This wastes too much time. Two simple modifications did the trick:

* Move downsampling out of quantizer logic. Implement with native methods #12
* Modi

[2015-10-24 15:32] akfish commented on #11
Initial ColorCut quantizer achieved ~3.2x speed-up.
[code]
However the result seems to be off. Perhaps some precision problem with the bitwise operations. Also endianness could be a problem when running on different platforms.

I'll use NoCopy quantizer for now and complete other tasks at hand. Fix it later if time permits. Otherwise ColorCut quantizer will not be shipped within the time frame of

[2015-10-24 15:32] #11 closed

[2015-10-24 18:56] #12 closed

[2015-10-27 12:26] akfish commented on #13
Turns out it's already implemented but not documented.

[2015-10-27 12:26] #13 closed

[2015-10-27 23:08] #14 closed

[2015-10-28 02:56] #10 closed

[2015-10-30 03:54] akfish commented on #11
~3.5x-4x speed-up with MMCQ quantizer. Used as default.
[code]
32bit pixel manipulation does not contribute much to the performance.

[2015-10-30 03:54] akfish commented on #10
Published as 2.0.0.

[2015-10-30 06:36] rayshan commented on #10
:tada:

Tested, it works well, definitely faster. Still need to try some of the advanced features. Thanks!

[2015-10-30 06:49] rayshan opened #16 "Grayscale images result in palette with colors"
Hi, all grayscale images, for example:
https://www.facebook.com/photo.php?fbid=10107296866472911&l=bb741fb5ef

Generates these swatches in v2.0.0 with default options:

[code]

All the `*Vibrant` swatches are not grayscale. I think the user would expect all swatches to be grayscale. I reported this issue previously for vibrant.js: https://github.com/jariz/vibrant.js/issues/18. I was hoping updated

[2015-10-30 09:05] akfish commented on #16
You can do it with `Filter` now. Something like:

[code]

I wouldn't expect great result, since there's nothing vibrant about a grayscale image.

FYI, the Android M's Palette algorithm is almost identical with the original one. Though its optimization approach does not work well in browser/node environment. So 2.0.0's algorithm basically remains the same as before, except for the optimization, som

[2015-10-30 19:42] rayshan commented on #16
Filter works for this if we know whether the image is grayscale to begin with. I would prefer not to spend the extra resources to analyze the image separately if possible, such as using https://github.com/Pomax/RGBAnalyse.

I noticed after trying a few grayscale images, all the `*Muted` swatches have rgb values equal to each other, so I'll probably check them after palette is generated, and use `*

[2015-10-31 00:09] akfish commented on #16
I wouldn't be surprise that palettes of gray scale images will end up looking somewhat the same, since there are only (at most) 256 colors to begin with.
Come to think about it, graysacle images should be rare cases in the normal use cases for this library. Even though we can surely add some built-in mechanism to detect one and do stuff accordingly, it wouldn't be cost-effective to do so.

For you

[2015-10-31 00:09] #16 closed

[2015-10-31 18:59] rayshan commented on #16
I agree if you have grayscale images you wouldn't want to use this library. I would think most users are just programmatically processing unknown image input. My use case is a bunch of photographs. iTunes' use case is a bunch of album covers. All of these may include grayscale images.

Thanks for the explanation. It's interesting to learn about how things work. I'll use your suggestion of higher q

[2015-11-05 20:30] roderickhsiao opened #17 "Client side js file is requiring jimp"
We are using webpack for packing our client side js,

From the package.json https://github.com/akfish/node-vibrant/blob/master/package.json#L6
`"browser": "lib/browser.js"`

and within the file
https://github.com/akfish/node-vibrant/blob/master/lib/browser.js#L5

we have
`Vibrant.DefaultOpts.Image = require('./image').Browser;`

which `require('./image')`
has both server side and client side code.

[2015-11-07 11:27] akfish commented on #17
Oops. I'll fix it soon.

[2015-11-07 11:44] #17 closed

[2015-11-07 11:49] akfish commented on #17
Fixed in 2.0.1

[2015-11-07 18:20] roderickhsiao commented on #17
Thanks for the prompt fix!

[2015-12-22 06:55] tyssen opened #18 "Restrict output to a predefined array of colours"
I'd like to use Vibrant to help populate a database of products with colour information to be used in a colour search feature. I'd like to restrict the number of colours that people can search on so it doesn't get overwhelming.

So, for example, if an image has 8 hues of blue in it, Vibrant would only output a single object with the hex value equal to one I've previously selected as the default va

[2015-12-22 07:25] akfish commented on #18
Off the top of my mind, there're a few possible approaches to do it such as custom filter or generator. But the easiest way is to approximate generated colors to ones in your color list.
Basically you just need to find the color with minimum [color delta](https://github.com/akfish/node-vibrant#deltae94lab1-lab2) against generated one as its approximation.

[2015-12-23 04:19] #18 closed

[2015-12-23 05:40] tyssen commented on #18
Could I trouble you to give me an example of how that might work incorporated into the example included?

    Vibrant.from(src).getPalette(function(err, swatches) {
      if (err) throw err;
      console.log(swatches);
      for (var key in swatches) {
        var swatch = swatches[key];
        if (swatch) {
          var hex = swatch.getHex();
          console.log(key + ": " + hex);

[2015-12-23 06:03] akfish commented on #18
Sure, something like:

[code]

[2015-12-23 06:24] tyssen commented on #18
Excellent, thanks. :)

[2015-12-23 06:24] akfish commented on #18
No problem

[2016-01-04 07:12] tyssen commented on #18
Is there a way to relax or loosen the `hexDiff` function to adjust the results?
For the most part I'm getting fairly close to what I want but there's a few examples where some obvious colours are missing, e.g.:

![3](https://cloud.githubusercontent.com/assets/370290/12084905/20c9af3a-b305-11e5-938d-90b16b22c8f1.png)
this one has some blue in it

![1](https://cloud.githubusercontent.com/assets/3702

[2016-01-04 09:29] akfish commented on #18
The `approximate` function provided above is intended to find a color with minimum delta in your list. A color delta value is in the range of 0~100. Hence `minDelta = 100` is the initialization value (as it's the maximum delta value) and it's not tweak-able. The value ranges and their meanings are documented [here](https://github.com/akfish/node-vibrant#getcolordiffstatusd). See also:
* [color dif

[2016-01-20 15:14] jampy opened #19 "crossOrigin header makes Chrome bypass it's cache"
1926a9cc3bce815daa747d43a06713d75e71a451 adds a `crossOrigin` header to *any* request, even if the URL is loaded from the same origin.

This has a negative impact in (at least) Chrome 47:

- say you have image X already loaded in the page (via `new Image()` or classic `<img>`). Chrome will use a copy from it's cache, if available.
- Run Vibrant against image X. Chrome will start a new HTTP request

[2016-01-20 22:58] #19 closed

[2016-01-20 23:02] akfish commented on #19
Fixed in 2.0.2

[2016-02-12 04:59] chovy opened #20 "more than one color from image?"
Is it possible to get more than one color from an image?

I'm looking at a tool like this: http://www.pictaculous.com/ which will pick the 4 dominant (?) colors from an image. Is this possible with node-vibrant?

[2016-02-12 05:16] akfish commented on #20
It is achievable with a custom [`Generator`][1]. The quantization stage will generate colors up to the amount specified by `opts.colorCount` and they are feed to `Generator` for the final selection.

The default generator would be a good start. For example, you could modify [this method][2]. Instead of selecting a single color maximum comparison value, you can sort colors by comparison values and

[2016-02-12 09:53] chovy commented on #20
Is there anyway to get a list of the 64 colors it found?

[2016-02-12 09:55] akfish commented on #20
All colors are passed to `Generator.generate` method directly as shown [here][1].

[1]: https://github.com/akfish/node-vibrant/blob/master/src/vibrant.coffee#L59

[2016-02-12 10:00] chovy commented on #20
I meant is there a public function off the `v` object I can call to return all the colors it found.

[2016-02-12 10:03] akfish commented on #20
Nope.

[2016-02-18 04:57] #20 closed

[2016-03-03 08:24] kandros opened #22 "Img node as input"
I plan to use this library on both server and client,  is it possible to use an image node to the the image from?

[2016-03-03 12:26] akfish commented on #22
Not possible with current version. But come to think of it, there should've been a way to use img node directly. I'll add one.

[2016-03-03 14:12] #22 closed

[2016-03-03 14:37] akfish commented on #22
Added in 2.1.2

[2016-03-04 08:43] kandros commented on #22
Much appreciated, thank you

[2016-03-25 18:46] rogovdm opened #23 "typo"
[code]

It should be «from»

[2016-03-26 00:25] #23 closed

[2016-03-26 00:25] akfish commented on #23
Thanks

[2016-06-02 17:14] homerjam opened #25 "Support web workers?"
Hi,

I'm kind of new to web workers so forgive my lack of knowledge - can this be made to work with them?

Perhaps it would need a new `Image` class - one that takes the input of `canvas.toDataURL()`?

Thanks
James

[2016-06-03 07:32] akfish commented on #25
This is certainly doable.
Only `ImageData.data` is passed to `Quantizer` and it can be cloned to web worker. And `Quantizer`&`Generator` should run in web worker context without any issue.

[2016-06-08 03:15] akfish opened #26 "Rewrite in TypeScript"

[2016-06-08 03:16] akfish opened #27 "`Promise`-based API"

[2016-10-23 19:37] chetstone opened #29 "error `document is not defined`"
I'm trying to use this in my react-native app, and the component seems by default to use a browser-based image class, and I can't figure out how to get it to use the node image class as documented in the README.
I have
[code]

And when I trying to set the Image option with
[code]
I get `Cannot read property 'Node' of undefined`

I think I'm just not importing Image.Node properly but I'm not sure h

[2016-10-23 20:11] chetstone commented on #29
Hmmm. I guess I'm being naive about expecting node modules to work in react-native. I've found that this particular problem arises because the react-native packager honors the `browser` field in `package.json` so the browser version is loaded instead of the node version. requiring `node-vibrant/lib/index` works around this, but the next error is `Requiring unknown module 'fs'`

[2016-11-04 10:46] stovmascript commented on #29
@chetstone Have you tried [rn-nodeify](https://www.npmjs.com/package/rn-nodeify)? Core node modules won't work by default in a RN app because it doesn't actually run on node (V8), but JSC. It's not bulletproof, but runs reasonably well in my experience.

That said, I am having trouble with node-vibrant. Can you try it too and see where you get? I don't have a problem with `fs`, but I think rn-node

[2016-11-04 13:38] akfish commented on #29
Hmm. Previous PL#21 seems to indicate node-vibrant once worked with React Native.
I haven't try React Native yet. But if it loads `lib/index.js` as entry script, the default image implementation should be the nodejs one. (see https://github.com/akfish/node-vibrant/blob/master/src/index.coffee)
You could try import the node image yourself by:
[code]

[2016-11-05 03:22] chetstone commented on #29
@stovmascript thanks for the heads-up about rn-nodeify. I also found [React-Nativify](https://github.com/philikon/ReactNativify) which seems like a promising approach but I haven't had time to try it. I'm on another project at the moment but will look into this next week.

[2016-11-06 14:24] stovmascript commented on #29
@chetstone Cool, in turn, thanks for the heads-up about ReactNativity. Just tried it out and I like it better. There are tradeoffs though.

With rn-nodeify, pretty much everything is taken care of for you. You only have to remember to run the postinstall script after installing new packages (i.e. it will run after `npm install`, but not after `npm install some-package --save`). What's not so prett

[2016-11-07 05:53] chetstone commented on #29
Thanks so much for the thorough report. So do your modifications to *inherits* suffice to get node-vibrant working with RN or are you still stuck?

On Nov 6, 2016, 07:24 -0700, Martin Šťovíček <notifications@github.com>, wrote:

[2016-11-21 05:30] chetstone commented on #29
@stovmascript Finally got some time to try with `react-nativify`. I don't think I made it as far as you did. It seems the amount of hacking involved to get this to work could be almost endless.

First, I couldn't get the transformer to work. I finally found that the ability to specify `getTransformModulePath()` in rn-cli.config.js was removed through a regression in my version of react-native  (0.

[2016-12-13 14:57] PierreBresson opened #30 "ionic 2"
Hi,

I'm trying to use node-vibrant with a ionic 2 project but I get an error:

`"Error in ./ChillPage class ChillPage_Host - inline template:0:0 caused by: __WEBPACK_IMPORTED_MODULE_3_node_vibrant__.Vibrant is not a constructor"`

Here is my code :

`"import { Vibrant } from 'node-vibrant';"`
...
`"
    let v = new Vibrant('assets/data/artwork.jpg');
"`
`"
    v.getPalette(function(err, palette)

[2016-12-13 16:01] akfish commented on #30
How about:
[code]

[2016-12-13 16:05] PierreBresson commented on #30
Now it's working :)

Thanks 👍

[2016-12-13 16:05] #30 closed

[2016-12-31 11:40] jaroslawziolkowski opened #31 "React ES6 and fs problem"
Hi,
I've been try find solution but I can't.

I use this library on client side. I'd like get color from input file or ImageHTMLElement.
1. in input[type="file"] client select image
2. I get url by `window.URL.createObjectURL(event.target.files[0]);`
3. I create ImageHtmlElement and set there image.
4. I get image by id and as below
example
[code]

I work in ReactJS but I write in ES6 next transla

[2017-01-01 09:33] jaroslawziolkowski commented on #31
@akfish I didn't check how good result I have but I looks perfect. Big thanks for your hint. Happy New Year! I consumed 3h on extra libraries like browerisfy-fd

[2017-01-01 09:33] #31 closed

[2017-01-19 11:09] ItamarShDev opened #32 "wrong color population?"
Some images get somewhat wrong colors.
For example the following image, the most populated color for some reason is blue, even though we can clearly see that brown is the most  dominant color

The color palette i get is:
[code]

Am I missing something?
![image](https://cloud.githubusercontent.com/assets/953371/22104402/9b95552a-de47-11e6-9f76-1400c5ec2ac0.png)

[2017-01-26 10:32] kyranet opened #33 "NodeJS ES6/ES7"
The example given for NodeJS is ancient, probably ES5, and it doesn't work for me.

I'm currently stuck with the following code:

`Vibrant = require('node-vibrant');
Vibrant.from('https://cdn.discordapp.com/icons/256566731684839428/06d25eba0b3b4de642dd3ad82a58bb75.jpg').getSwatches()`

But I get `JimpImage {}` with no properties inside.
All I want is getting the vibrant colour.

I also tried with:

[2017-01-28 07:46] akfish commented on #33
[code]

[2017-01-30 07:55] eybarta opened #34 "getPallete running multiple times"
Hi thanks for awesome plugin..

I'm running this code:
[code]
the Vibrant code works fine except it runs multiple times instead of once, I'm not sure
what I'm doing wrong here.. could you please help me figure out this issue?

thnx!

[2017-02-01 23:29] akfish commented on #34
I cannot reproduce this issue on my end. The callback is called exactly once.
You could try adding a break point inside the callback or print the stack trace to identify the callsites and see where the extra calls originate.

[2017-02-02 02:04] #33 closed

[2017-02-06 12:08] prince-coder opened #35 "Is it supported for angular 2?"

[2017-02-06 12:09] prince-coder commented on #35
Is it supported for angular 2? please let me know @akfish

[2017-02-10 09:38] akfish commented on #35
It should. It supports browser and node environment. The web framework shouldn't matter.

[2017-02-17 14:22] Uriziel01 commented on #34
I'm having the exact same issue. Will try to prepare some jsFiddle example later today.

[2017-02-22 14:16] danpalmer opened #36 "Bug: Renders canvas elements visible on the page"
While we could solve this with the addition of some CSS, it's a little tricky to target the canvas elements created by node-vibrant as they have no class and are not contained within another element, meaning that we must have a very general CSS rule to hide them, which is not ideal.

[2017-02-23 09:44] graingert commented on #26
you can automatically port the coffeescript to https://github.com/decaffeinate/decaffeinate

[2017-02-23 09:53] akfish commented on #26
Thanks for the information.
The TS version has been completed a few months ago. Since no bugs are discovered during the port, I see no reason to publish a version with identical features to the current one.

[2017-02-23 10:27] graingert commented on #26
@akfish I can't actually find it.

[2017-02-23 10:28] akfish commented on #26
@graingert It's not pushed to GitHub yet. Sorry for the confusion.

[2017-02-23 11:01] graingert opened #38 "browser tests arn't run on travis"

[2017-02-23 11:01] graingert opened #39 "tests are failing and ignored on travis"

[2017-02-23 11:02] graingert commented on #26
can you push your TS version?

[2017-02-23 12:01] akfish commented on #26
@graingert Sure. I'll push it this weekend, after updating to latest dependencies and fixing a few newly reported bugs.

[2017-02-23 12:03] graingert commented on #26
@akfish why don't you push it ASAP, to a non master branch? I'd rather the code wasn't lost if it's only on a handful of machines.

[2017-02-23 12:12] akfish commented on #36
Noted. Will fix in next version.
- [ ] Hiding `<canvas>` element with inline style
- [ ] (Optional) Custom `<canvas>` class name

[2017-02-27 13:28] akfish commented on #39
Fixed in v3.0 branch.

[2017-02-27 13:28] #39 closed

[2017-02-27 13:28] akfish commented on #38
Fixed in v3.0 branch.

[2017-02-27 13:28] #38 closed

[2017-02-27 13:28] #26 closed

[2017-02-27 13:29] #27 closed

[2017-02-27 21:22] akfish commented on #36
Fixed in v3.0.0-alpha.1

Changes made to `<canvas>` element:
* Added `visibility: hidden` as inline style
* Added class name `vibrant-canvas`

[2017-02-27 21:22] #36 closed

[2017-02-27 21:38] akfish commented on #34
I just published v3.0.0-alpha.1. Could you see if this issue persists in the new version?

[2017-02-28 12:08] Uriziel01 commented on #34
Yes, now it works like a charm (triggering only once). 👍

It should be a separate issue but I just want to drop a quick note that it bothers me that loading **v3.0.0.alpha.1** using async import:
[code]
will not work because object returned from `System.import` is an empty object, I have to use it like so:
[code]

It was working correctly in previous vibrant versions.

[2017-02-28 12:24] akfish commented on #34
Good to know.

I opened a separate issue to track the other issue.

[2017-02-28 12:24] #34 closed

[2017-02-28 12:24] akfish opened #40 "Async import broken in 3.0.0-alpha.1"
Reported by @Uriziel01

[code]

[code]

[2017-02-28 13:20] akfish commented on #40
It should have been fixed in 3.0.0-alpha.2.

[2017-03-11 01:13] chetstone commented on #29
I've just published [react-native-palette](https://www.npmjs.com/package/react-native-palette) which wraps the excellent Android Palette class as a native module. The component also supports similar functionality for iOS, but with some issues.

It would be nice to also have a javascript-only solution such as node-vibrant which would work on iOS since native support there is somewhat lacking.

[2017-03-15 08:21] akfish commented on #29
Sorry about the long delay. Real life happened.
From what I'm understanding from above comments, the issue seems to be related to `jimp`'s reference to `fs`, which is not available in react-native environment.

From `jimp`'s source [\[1\]](https://github.com/oliver-moran/jimp/blob/631359a24fd1a42e2720703c766827a6b0727f50/index.js#L1), setting `process.env.ENVIRONMENT` to `"BROWSER"` will skip requ

[2017-03-15 13:30] daviestar opened #41 "Inconsistent values from getPalette()"
I have a huge list of images that I'm running through `node-vibrant`.  I'm noticing quite often the values of the `getPalette()` object are `null`, instead of an instance of `Swatch`.

Is this a bug or is there some logic behind this?  It certainly makes it difficult to programmatically associate some colours with an image.

[2017-05-04 00:57] jariz opened #42 "Take over the original Vibrant.js project?"
Hey, as there's no way to contact you @akfish (I can't find your email address), I figured I'd just file a issue here.
Your version of vibrant is obviously superior to the original, so I wondered if you'd be interested in taking over the project and maintaining it.

You can either take over the repo as it is (I'd add you as a maintainer and you'd redirect from node-vibrant to my repo or something)

[2017-06-15 04:17] asela-wijesinghe opened #43 "not accepting image url's without CORS headers"
I am having a API connected and throwing requests with no cors headers to frontend and image URL's are extracted and sent to vibrant.in that case the image is not extracted into the vibrant, and throws an error

` No 'Access-Control-Allow-Origin' header is present on the requested resource.`

any preferred way to overcome this?

[2017-06-30 02:21] TooTallNate commented on #43
Run the image through a CORS proxy a la https://cors.now.sh.

[2017-07-07 03:51] nitriques opened #44 "[Feature] webp support"
I know it is not an easy piece of work, but offering webp support would be pretty cool.

Thanks.

[2017-07-19 16:39] TooTallNate opened #45 "Browser-side cleanup does not always work"
I see that [there is logic to clean up the `<canvas>` node](https://github.com/akfish/node-vibrant/blob/5c091d5cc757806c852948f4947cd9f56252e42e/src/vibrant.ts#L73) after the palette has been identified, but I'm seeing the DOM nodes stick around in my case after requesting the same img src multiple times. So it's possible that it is related to caching or something.

![screen shot 2017-07-19 at 9 3

[2017-07-21 18:37] TooTallNate commented on #45
Note that this is with version 3.0.0-alpha.2

[2017-07-24 16:30] ThatoMokhomong opened #47 "cant use methods"
getTitleTextColor(): string
getBodyTextColor(): string

How do I consume these methods?? I tried Vibrant.Swatch(swatch).getTitleTextColor

[2017-07-29 21:59] coryschires commented on #43
@TooTallNate Confirmed this works for me. Thanks!

That said, this feels like a hack. Any ideas for solving this issue within `node-vibrant` itself?

[2017-08-11 06:26] AstroBoogie opened #48 "Issue with .getPalette() on some images"
I get an error on some images when using .getPalette().

`TypeError: undefined is not an object (evaluating 'vbox.count') — mmcq.js:14`

The issue occurs in both Chrome and Safari, and it occurs randomly with different images. The images that cause this error are consistent. A lot of images that cause this issue have transparency, but this could be a coincidence. Here's the code I'm running:

[cod

[2017-09-07 19:02] jafaircl opened #49 "Angular 4+"
Just to make sure anyone trying to use this library in Angular can find an answer, you have to add:

[code]

to the tsconfig.json file at the root of your project for this to work:

[code]

After that, everything works fine. I'm not sure if something can be done with the typings to make this unnecessary or not.

[2017-09-28 13:29] ranjitnadar commented on #49
<img width="364" alt="screen shot 2017-09-28 at 6 58 52 pm" src="https://user-images.githubusercontent.com/3095820/30969150-29eca816-a47f-11e7-94f2-0042563edd55.png">
Please help me resolve this issue **resolves to a non-module entity and cannot be imported using this construct.**

[2017-09-28 13:34] ranjitnadar commented on #30
<img width="364" alt="screen shot 2017-09-28 at 6 58 52 pm" src="https://user-images.githubusercontent.com/3095820/30969378-d688ed82-a47f-11e7-8040-13f8e8827a5a.png">
any solution for this issue

[2017-09-28 15:25] ryanunc1 commented on #49
Did you change the line in your tsconfig file?

[2017-09-28 20:29] ranjitnadar commented on #49
![Uploading Screen Shot 2017-09-29 at 1.57.50 AM.png…]()
Update in tsconfig.json still getting same errror.

[2017-10-02 10:50] edoardoo commented on #49
Same bug here.

[2017-10-02 14:04] jafaircl commented on #49
Not sure. It's an Angular issue though so I'd say bring it up over there.

[2017-11-01 13:43] robertwalsh0 opened #53 "3.0.0-alpha.2 won't run, has lodash error"
Trying to run `node-vibrant@3.0.0-alpha.2` in my app.

Compilation failing due to lodash error in package.

[code]

[2017-11-05 20:46] #53 closed

[2017-11-05 20:56] Pranoy1c commented on #47
I figured it out.

[code]

[2017-11-08 08:05] prewk commented on #48
The following image causes `TypeError: Cannot read property 'count' of undefined` in Node: http://www.qgis.org/en/_static/images/users-docs.png

[2017-11-08 08:27] prewk commented on #48
pull request #52

[2017-11-16 21:01] voznik commented on #49
I was able to use Vibrant in my A4 setup
use `import Vibrant = require('node-vibrant');`
to [require modules in Typescript](https://www.typescriptlang.org/docs/handbook/modules.html), in your `tsconfig` you should have
[code]

[2017-11-28 10:18] #45 closed

[2017-11-28 10:21] #40 closed

[2017-11-28 10:22] #25 closed

[2017-11-28 10:24] #49 closed

[2017-11-28 10:35] #47 closed

[2017-11-28 10:35] #48 closed

[2017-11-28 10:36] #43 closed

[2017-11-28 10:46] akfish commented on #48
Fixed in v3.0

[2017-11-28 11:04] akfish opened #54 "Break node-vibrant into multiple small packages (monorepo)"
~~Because it's the popular thing to do.~~
Making node-vibrant modular and flexible for the next big step (ultra-vibrant)

[2017-11-28 11:11] akfish opened #55 "WebAssembly support"
~~Because it's even more popular thing to do~~
Provide WASM version for color utils, quantizers and other hotspots for performance boost.

[2017-11-28 11:17] akfish opened #56 "Access to diagnostic data"
Allow quantizers, generators or any other part of the project to store necessary diagnostic data (e.g. intermediate color swatches) to a common place for later access. This is useful for debugging algorithms, or advanced usages.

[2017-11-28 11:21] akfish opened #57 "Generate human-readable color names"
The implementation is very straight forward:
1. Maintain a color name dictionary (color name vs color value)
2. Calculate color deltas between querying color and those in the dict
3. Output colors with smallest deltas

[2017-11-28 12:50] akfish opened #58 "Color delta based clustering algorithm for quantization"
The MMCQ quantizer is not suitable for this kinda of applications. It does not reflect how human eyes percept colors. The generated colors are often unnatural. And most color information is simply lost.

I'm investigating a new approach to quantize the color, which uses color delta as distance function for clustering. Early experiments showed promising results.

[2017-11-28 15:19] akfish commented on #42
@jariz and I just discussed this over email. We decided to deprecate vibrant.js. Future development and maintenance will be happening.
I'll keep this great project started by @jariz alive.😀

[2017-11-28 15:19] #42 closed

[2017-11-29 12:07] Kikobeats commented on #44
how can we do that?

[2017-12-05 00:08] nitriques commented on #44
Well, how to you currently convert images to arrays of pixels ?

[2017-12-05 06:35] akfish commented on #44
In browser, it's done by `<canvas>`. So it's just a matter of what formats the browser supports. See [browser.ts].
In node.js, [jimp] is used, for it's a pure JavaScript implementation. I didn't want to introduce some binaries/dependencies that might break on some platforms into the default implementation. See [node.ts].

node-vibrant is designed to be extendable. Image format support is provided

[2017-12-11 16:30] nitriques commented on #44
Great! thanks! I am not that good in TypeScript, but I'll see what can be done!

[2017-12-11 21:23] akfish commented on #44
Nice!

FYI. I'm refactoring node-vibrant into multiple small packages for version 3.1.0. All image classes are implemented as their own npm packages.

Check out [`@vibrant/image-node`](https://github.com/akfish/node-vibrant/tree/refactor/monorepo/packages/vibrant-image-node) for reference implementation. It's still the same as described above. Except that now you will only need one [`@vibrant/imag

[2017-12-12 16:06] cpietsch commented on #41
looks like the vibrant palette (normal/light/dark) is returning sometimes null, whereas the muted is always available.

[2017-12-13 17:39] nitriques commented on #44
Great !

[2017-12-15 00:28] eggers opened #60 "Handle Multiple Images"
Any potential of enhancing the library to take a list of images? I have some video thumbs, and it would be interesting to get the primary colors that are in all of them images.

I could do it with more work by adding the images to a canvas and then transferring that to an img tag. Or creating a stitched image, but it'd be nice if the library could handle it.

[2017-12-22 04:56] gmemstr commented on #60
Wouldn't it be easier to just do a `for` loop, and store it all in an object?

[2017-12-22 04:58] gmemstr commented on #15
I could take this on if it's still needed, loving using the library so far.

[2017-12-23 04:38] akfish commented on #15
@gmemstr Thanks for the offer and I'm glad that you are enjoying using this lib. It means a lot. :)
I'm now in the process of making the project site (finally!). It should come online along with some new features/improvements in the next version.

[2017-12-23 04:51] akfish commented on #60
In the next version I'll expose the process pipeline API. It should be flexible to do what you want with some custom code.

[2017-12-23 20:28] Favna commented on #44
I've been using this package in my Discord bot which is starting to move to displaying all its images in webp format by default due to its many advantages so this feature is starting to be a huge thing for me. I see a `wontfix` label so that really worries me.

@nitriques have you done any of your "seeing what can be done' yet? or are you going to work on it after all @akfish ?

[2017-12-24 05:14] akfish commented on #44
@Favna It won't be fixed in the main package/repo. But it is fixable by implementing a custom ImageClass (and published as a separate npm package). WebP libs for node.js (that I've seen) require external binaries or native modules, which could be messy to support across platforms. The main package is intended to work out-of-box for all platforms.

I'm working on this project in my spare time and t

[2017-12-26 23:16] amirping opened #62 "Angular 5 Support"
Trying to use node-vibrant in ng5 project . so i try to import the npm package with

//or

//or

//or

without success .
the i try to use it like that

but it return an error when use it

and this is my tsconfig.json file

and i use

so i am wondering how to use node-vibrant with ng5 , and how to correctly import it in ts class

[2017-12-29 23:08] nitriques commented on #44
@Favna

Yes and all I see are native ad-dons

The good thing is that I need it, so I might have the time to poke around it soon.

[2018-01-20 23:57] rojasjandro89 commented on #49
Declaring it as a global script in the .angular-cli.json file will allow you to use it later using the "declare var x:any" syntax later. But It doesn't give you @types. It's a shame, I feel blind here!

[2018-01-21 00:01] rojasjandro89 opened #63 "Angular - Typescript support"
When I import it into an angular project I get the following:
![capture](https://user-images.githubusercontent.com/17559789/35189222-152b21c0-fe14-11e7-9e52-242ad582deae.PNG)
The only way I've been able to use it is declaring it as a global script and then use the "declare var x:any" syntax. But I can't use their types. Is there any way to import it and have the @types available to use? I'm using

[2018-01-24 14:03] yairopro opened #64 "Could not find 'dist' directory"
Hi
I could not find the `dist` directory.

[2018-01-31 13:48] yairopro commented on #64
Pull request : #65
Dist directory built and removed from .gitignore.
This will allow users to use ./node_modules/dist/vibrant.js right after they install npm install node-vibrant, because not everyone compile with typescript, or even know what it is.

[2018-02-08 19:16] yairopro commented on #29
I can't even make a simple `require("node-vibrant")`. It doesn't find the module.

[2018-02-28 13:28] Novajox opened #66 "Use it server side ?"
Hi,

I am working on a android app where i upload a photo to my server (for now it is firebase).
When i detect an upload is finished, I have a task to create a thumbnail, and I wanted to add a task to get the color from the uploaded image .

Is this possible to use this package on a server, when I receive an image with an upload ?

I have the path to the image, and I would like to treat it to get

[2018-02-28 21:58] Novajox commented on #66
Hey guys, made it working with firebase server , nevermind !
Great works  on the lib thx

I add issue with typescript , I needed to update my tsconfig.json in order to make it working

"compilerOptions": {
    "lib": ["es6","dom"],

![signal-2018-02-28-185355](https://user-images.githubusercontent.com/29523951/36815329-b1e2571a-1cda-11e8-81d8-cfca540ed54d.png)
:D

[2018-02-28 21:58] #66 closed

[2018-03-18 11:44] orgilor commented on #62
import('node-vibrant').then((vibrant) => {
  //code here
})

[2018-03-26 15:45] dguo commented on #62
@amirping, I think the issue is that the library is failing to load the image. In #61, see [this commit](https://github.com/akfish/node-vibrant/pull/61/commits/188eca9b7147ccfb03d43861510c9655c4e4182d).

[2018-03-30 19:59] ashecret commented on #63
@rojasjandro89

I have managed to use it as below-

`const vibrant = require('node-vibrant');`

[2018-03-30 20:00] ashecret commented on #62
@amirping

I have managed to use it as below-

`const vibrant = require('node-vibrant');`

[2018-04-01 15:28] danielehrhardt commented on #43
Something new here?

[2018-04-23 21:02] Quoteme opened #69 "Error upon inculding the vibrant.min.js file in my project"
I get following error:

in my browser, upon using following code:
[code]

this is my operating system + browser I used:

[2018-05-06 01:37] AlexThomas90210 opened #70 "Is there any way to select a region of an image to sample?"
I would like to specify the region in pixels to sample in eg (x, y, width, height) of a square, then I would the dominant color for that region?

[2018-05-07 03:10] AlexThomas90210 commented on #41
muted is also null sometimes

[2018-05-08 01:26] glomotion opened #71 "How to use worker build with Webpack...?"
So i'm having a rough time trying to get the worker flavour of this component working within a webpack environment.

Basically, when you import as directed in the readme.md - the result is an empty object.
[code]

Have you any ideas on how to fix?

[2018-05-08 03:41] zhangciwu opened #72 "Unhandled promise rejection EVEN IF there is catch"
[code]

Just can not catch the exception.
The two catches are not working,
just got `UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Unknown graphic control label: 0x2a`

[2018-05-22 19:58] lpender opened #73 "Base64"
Is there a way to read from a base64 encoded image string?

[2018-06-06 08:12] alirezavalizade opened #74 "Get median of colors from multiple images"
I'm looking to something like this:

`Vibrant.from(['path/to/image1', 'path/to/image2']).getPalette((err, palette) => console.log(palette))`

[2018-06-15 14:54] vasildev commented on #69
+1

[2018-06-27 17:01] btzr-io commented on #71
Is there a workaround for this issue?

[2018-06-28 07:31] StephanBijzitter opened #75 "Allow an HTMLCanvasElement as source for the image"
I already have a canvas and currently convert it into a base64 png, give it to vibrant and it then draws it on a canvas once more. This seems a bit redundant.

[2018-07-13 17:15] AggressivelyMeows commented on #63
error TS2304: Cannot find name 'require'.

[2018-07-27 09:22] maxcr commented on #43
Fuck this is killing me. Its weird cause if you use the constructor method it works fine, but if you use the promise method it complains about CORS. My guess is the promise method takes the url and directly loads it into Canvas, which is a big no-no for Chrome. No other browsers give a shit. So if you use the new image constructor and load the image into ram, and then pass that into the Canvas it

[2018-07-27 12:43] maxcr commented on #75
Canvas operations are cheap since they are done on the GPU and not CPU. If your demographic is mainly really old android and IE then I guess you could rewrite it to merge the two canvas operations somehow but if were talking amount of milliseconds decreased on compute time it would be a negligible performance gain for anything made after 2012.

[2018-07-27 12:45] maxcr commented on #74
Just loop it. I have one for loop regex all urls to sanitize them and save them to an array. Then I have another loop feed them to the Vibrant promise which writes the colors to my div `"cards"`.

[2018-07-27 12:45] maxcr commented on #73
write it to ram using the `new Image` constructor, then feed that variable containing the reference to the ram loaded DOM image object to Vibrant.

[2018-07-27 12:47] maxcr commented on #70
Mark this as a feature request.

[2018-07-27 12:48] maxcr commented on #41
I also get this error. It depends on the image. I'll have to look at akfish's quantizer implementation. From what I've read it isn't a very good method of extracting color and there are other much more suitable algos available.

[2018-07-27 13:04] maxcr commented on #41
When using getRgb shit was broken about 50% of the time. Using getHex returned valid results always.

[2018-07-27 19:14] maxcr commented on #74
Oh wait you mean the median of the colors of the two images combined?

[2018-07-28 19:17] alirezavalizade commented on #74
:)
Yes exactly
@maxcr

[2018-07-30 08:12] StephanBijzitter commented on #75
Nail. Head. 😅

[2018-07-30 13:41] SalGnt commented on #36
I still face this problem, even using the latest version.  The problem is that `visibility: hidden` allocate the space of the canvas on the page. I suggest to swap `visibility: hidden` with `display: none` if possible.

[2018-07-30 14:49] SalGnt commented on #36
I still face this problem, even using the latest version. The problem is that visibility: hidden allocate the space of the canvas on the page. My suggestion is to swap visibility: hidden with display: none if possible.

[2018-07-30 14:50] SalGnt commented on #36
I still face this problem, even using the latest version. The problem is that with `visibility: hidden` the space of the canvas is allocated on the page. My suggestion is to swap `visibility: hidden` with `display: none`.

[2018-07-30 20:01] christophwolff commented on #69
+1

[2018-08-02 15:07] maxcr commented on #41
I eventually just had to use nested loops to see if certain color codes were returning null, and then see if the entire swatch itself was returning null otherwise the promise chain breaks. Probably not very efficient but now my colors load properly in the correct order every time.

[2018-08-02 17:55] maxcr commented on #75
I mean it seems that the WebAssembly implementation would solve the issue as that is the most possible performant state. Is the browser versions supported too old for WASM? If that's the case, it's going to take a lot of work.

[2018-08-03 11:06] StephanBijzitter commented on #75
The only browser we have to support that doesn't support WASM is IE11 (sadly that's still a large minority of our users). I'll see if I can find some time to work on HTMLCanvasElement as input, but it could take a few months 😅

[2018-08-03 12:27] maxcr commented on #75
I'll see about cooking up a patch for you buddy. Do you mind hosting your code somewhere for me so I can see how you're doing everything?

[2018-08-09 19:35] internette opened #76 "'parentNode' of undefined Error"
I'm attempting to use this module alongside React. I'm getting the current error:
[code]

[2018-08-29 09:52] Quoteme commented on #69
I found a fix:
use the Vibrant.min.js file used on the demo page > [https://jariz.github.io/vibrant.js/](https://jariz.github.io/vibrant.js/)
the direct link to this working version of Vibrant.min.js is: [https://jariz.github.io/vibrant.js/dist/Vibrant.min.js](https://jariz.github.io/vibrant.js/dist/Vibrant.min.js)

[2018-08-29 09:55] #69 closed

[2018-09-19 12:58] Andsbf commented on #76
same here, interesting that if chrome devtools is open everything works nicely 😕

[2018-09-20 09:56] 1j01 commented on #70
In Node.js, you could use one of these:
- https://www.npmjs.com/package/jimp
- https://www.npmjs.com/package/gm
- https://www.npmjs.com/search?q=imagemagick
- https://www.npmjs.com/package/sharp

In the browser you could use canvas (with `drawImage`), altho it looks like you'd have to use `toDataURL` or `toBlob` until `<canvas>`-as-a-source support is added, see https://github.com/akfish/node-vibr

[2018-09-20 10:22] 1j01 commented on #74
In Node.js you could use https://www.npmjs.com/package/merge-img, altho if the images are not the same size, you'll likely get a background color in the mix, so you might want to do something a little more custom, possibly with the underlying module https://www.npmjs.com/package/jimp

In the browser, or with [`node-canvas`](https://www.npmjs.com/package/canvas), you could do something like:
[code]

[2018-09-20 10:30] 1j01 commented on #57
There's a library for this: http://chir.ag/projects/ntc/

[2018-10-13 03:43] crutchcorn commented on #76
I'm having the same problem. Any known fix for this?

[2018-10-21 16:45] jan-scorl commented on #76
Same problem here with VueJS

[2018-10-24 07:55] Kikobeats opened #79 "Unsupported MIME type: image/x-icon"
I noted that icons are not supported:

[code]

That's okay but could be possible to avoid print the message in the terminal?

Also, ideally need a way to avoid the error, just failing silently, I mean, if it's not possible to resolve the icon, then return an empty object for following the workflow and avoid break the code.

[2018-10-24 19:01] crutchcorn commented on #76
Can anyone test this out:
https://github.com/ceoss/node-vibrant/

Tell me if this is resolved for them? It is for my use-case in VueJS and Chrome, but I want to confirm that more widely before investigating much much further

I'll be working more on this and will be making PRs upstream (tho `master` on the fork will be a continued HEAD of all my changes to fix stuff until this repo gets a little m

[2018-10-24 19:05] crutchcorn commented on #63
Does `import Vibrant = require('node-vibrant')` work?

[2018-10-24 23:35] Andsbf commented on #76
Far from ideal, but the work around I have found is to reload the image instead let it read from cache, something in the following lines:

[code]

[2018-11-21 16:42] abarrafo commented on #76
I was having this issue. But, I also was receiving a CORS error on the image being loaded by node vibrant. This seems to have some to do with Chrome not allowing images it be loaded into canvas without an `access-control-allow-origin` header. In my case, I have been using react-palette and I simply had to update my image response to include this header and the parent node error is gone and everyth

[2018-11-21 16:44] crutchcorn commented on #76
I'm fairly certain that this is resolved by:
#61 to some degree

[2018-12-16 07:12] PeterL1n commented on #75
I also wish this functionality is implemented. To convert an image to dataURL then convert back to canvas is not optimal

[2018-12-17 08:17] StephanBijzitter commented on #75
Apologies for the late response, there's not really a way for me to host a sample repo as the codebase is a tad old and has a lot of external dependencies.

However in the end it's just a `<canvas>` element being painted on using FabricJS. They've got a lot of demos, perhaps those can be used instead? http://fabricjs.com/demos/

[2018-12-26 17:51] crutchcorn commented on #15
I've held off on making a project page as it was mentioned that @akfish was working on it. However, I already have a fair amount of code in doing so from writing: https://colorize.ceoss.io/

Is this still something being worked on or is there a want/need for a PR adding it in?

[2018-12-26 17:52] crutchcorn commented on #41
#78 fixes this

[2019-01-10 14:31] mertyildiran opened #83 "Is it possible to use the same color palette on different images?"
I have two nearly identical images and I want to use the same color palette generated from the first image on the second image. Therefore I will find the similarity rate of these two images. So is it possible to use the same color palette on different images?

[2019-01-16 16:21] crutchcorn commented on #62
Using v`3.1.1`, can we confirm that using `import Vibrant = require('node-vibrant')` works?

[2019-01-16 16:23] crutchcorn commented on #76
Can someone who had this problem test against `3.1.1` and let us know if this is fixed? In my experience it had been but I'd like to confirm

[2019-01-16 16:24] crutchcorn commented on #41
Can someone test against the update `3.1.1` to confirm a fix?

[2019-01-16 16:25] crutchcorn commented on #64
This should be fixed now

[2019-01-16 16:25] #64 closed

[2019-01-29 01:44] stelasido opened #85 "this.WorkerClass is not a constructor"
Hi, I am getting this error with the example from the docs:

This is my code:

`        console.log(src);
        Vibrant.from(src).getPalette()
            .then((palette) => console.log(palette))`

I am using `React`.

[2019-02-01 12:40] alisalama commented on #63
No, none of the above work. Same as error as the OP for that format.

and then
`const vibrant = require('node-vibrant');` and `import Vibrant = require('node-vibrant')` both give the following...

`Import assignment cannot be used when targeting ECMAScript modules. Consider using 'import * as ns from "mod"', 'import {a} from "mod"', 'import d from "mod"', or another module format instead.`

[2019-02-01 16:06] akfish commented on #63
node-vibrant itself is written in TypeScript. This should be a TypeScript configuration problem.
The thing is that node-vibrant is a common js package but your TypeScript project is configured to target es modules.

If you search the error message, you should find suitable ways to fix your `tsconfig.json` accordingly.
For exampe, see Microsoft/TypeScript##22321.

[2019-02-01 16:09] #63 closed

[2019-02-08 08:43] akfish commented on #85
Sorry for the confusion. We are still finalizing the documentations.

You will need webpack and worker-loader for this to work.
Relevant docs are in the develop branch:
https://github.com/akfish/node-vibrant/tree/develop#webpack-configuration

[2019-02-12 13:08] FotisK opened #87 "something might be wrong with the 3.0.0-alpha.2 compiled/minified file?"
I downloaded the 3.0.0-alpha.2 from the releases directory and tried calling the minified js by using `<script src="./js/vibrant.min.js"></script>` inside a static HTML page.
and merely calling the js displays on the console the following javascript error (macOS/Safari 12):

When using the debug version & map file, the error log is empty.
I'm a js newbie, so not sure what the issue might be, but I

[2019-02-14 04:49] KyzaGitHub commented on #85
I am getting this error with a Vuejs/Nuxtjs server while trying to run this client side. I'm not quite understanding what I need to do to fix this. What I am trying to do is get the color palette from an image on the web page. This image is random every time the page loads, which is why I need to run this client side.

[2019-02-15 03:51] madprops opened #88 "Use rgb or # string as input instead of image"
Right now I'm looking for something to generate a palette with some contrasting colors, specifically different colors, not the same color darker or brighter. Thought this could help but I don't see an option to use a color as input instead of an image.

[2019-02-20 22:26] minht11 commented on #55
Considering this project is using Typescript already converting some parts to webassembly using [https://github.com/AssemblyScript/assemblyscript](url) shouldn't be too hard.

[2019-02-20 22:30] crutchcorn commented on #55
This is super facinating to see. I'll have to take a closer look when I get more time @minht11 . As of now I'm going to be unable to look further into it due to personal obligations

[2019-02-22 00:57] crutchcorn commented on #85
I'll do my best to take a look at how we can ship down a built version of this that doesn't require webpack. Timeline is hesitant, as I have some family health problems, so please be patient :)

[2019-02-22 10:35] MadReal commented on #85
Same problem, using vue.js though

[2019-02-23 17:14] adhirajsinghchauhan opened #90 "ERROR: this.opts.ImageClass is not a constructor when calling getPalette()"
Angular v7.2.4
node-vibrant v3.2.0-alpha

This is the error:

    at Vibrant.push../node_modules/@vibrant/core/lib/index.js.Vibrant.getPalette (index.js:42)
    at Builder.push../node_modules/@vibrant/core/lib/builder.js.Builder.getPalette (builder.js:62)

Code used:
[code]

tsconfig.json:
[code]

[2019-02-23 17:21] adhirajsinghchauhan commented on #62
@crutchcorn
Tried both `import Vibrant = require('node-vibrant')` and `const Vibrant = require('node-vibrant')`

The former gives #90. The latter gives #85.

[2019-02-23 22:39] crutchcorn commented on #62
Thanks for testing. I'll take a closer look this week

[2019-02-23 22:42] crutchcorn commented on #88
I think this is out-of-scope for current work, as we're focusing on getting image extraction working (and this library does currently not include logic for complimentary colors/etc AFAIK). However, we're doing a lot of work in the `develop` branch to make many packages where this might fit in better. I'll mark as question and we'll revisit and development goes on

[2019-02-23 22:46] crutchcorn commented on #83
Not to sound like a canned message, but similar to #88:

I think this is out-of-scope for current work, as we're focusing on getting image extraction working (and this library does currently not include logic for ~complimentary colors/etc~ comparing two color differences AFAIK). However, we're doing a lot of work in the `develop` branch to make many packages where this might fit in better (and in

[2019-02-23 22:49] crutchcorn commented on #32
Image quantization is a highly subjective and complex task. We're currently fairly confident in our quantization technique, however we're doing work to make replacing this funtionality significantly easier (by providing a drop-in replacement via a plugin [in the `develop` branch). I'll likely be closing this for cleanup, but will do my best to remember to comment on this issue when that branch bec

[2019-02-23 22:49] #32 closed

[2019-02-23 22:51] crutchcorn commented on #71
Quoting @akfish from #85:

Relevant docs are in the develop branch:
https://github.com/akfish/node-vibrant/tree/develop#webpack-configuration

[2019-02-23 22:52] crutchcorn commented on #71
This should also have been partially caused by some bugs that were squashed in `3.1` release. Try updating the package if you're still having problems with this

[2019-02-23 22:54] crutchcorn commented on #70
One solution for this would be to crop the image first using a library like those mentioned by @1j01. However, we don't want to prevent asking for info. Marking as feature request, we'll come back to this after finishing work on bugs and documenting and cleaning up the monorepo work we've done

[2019-02-23 22:55] crutchcorn commented on #72
Can this be retested against `3.1` release?

[2019-02-23 22:56] crutchcorn commented on #73
As mentioned previously by @maxcr, this can be worked around for now. I'll still mark as feature to support this in the future, however

[2019-02-23 22:58] crutchcorn commented on #74
Good workaround for now @1j01.

I'll mark as feature request for now and edit the title to be clearer

[2019-02-23 23:01] crutchcorn commented on #75
Thi sseems like a logical feature request to me. @maxcr, has there been any work done by you on this subject matter? We'd love pull requests and I could help out with anything you might have. We're currently moving new development towards the `develop` monorepo structure, but if you already have code written for `master`, I can migrate that code manually like we did for #82

[2019-02-23 23:02] crutchcorn commented on #79
Is this error bubbled up properly? (IE, is it passed to the `catch` conditional)

If not, that's a bug and I'd love to take a look at it. Otherwise, simply use a `catch` to the promise to catch that error

[2019-02-24 00:51] crutchcorn commented on #15
Worth mentioning that we're defering working on the project page until we fix up some bugs and get the `develop` branch monorepo restructure documented properly.

[2019-02-24 00:52] #62 closed

[2019-03-01 14:17] danielberndt opened #91 "Readme: Describe output of this library"
Hi there,

I'm planning on trying out this library and by judging from Readme it all seems well thought out and quite promising.

Interestingly, it misses to describe the shape of the output though!
All I've learned ist that I'll get a `Palette`. It presumably contains `Swatches`. But it's not really clear what this means before being able to try it out on some real examples.

[2019-03-04 06:58] zhangciwu commented on #72
Tested with 3.1.0 and 3.1.1,
Now correctly catch by provided catcher.

[2019-03-04 06:58] #72 closed

[2019-03-04 07:20] crutchcorn commented on #91
We're currently working on hugely increased docs for the develop branch with a monorepo rewrite.

[2019-03-04 10:16] danielberndt commented on #91
Ah that's great to know!

[2019-03-04 10:16] #91 closed

[2019-03-04 14:10] danielberndt commented on #44
How do you feel about allowing to use (sharp)[https://github.com/lovell/sharp] instead of jimp via an optional flag? Since v0.20 sharp doesn't require any additional installation steps besides `npm install` on most systems. It also comes with webp and svg support and promises to be a faster solution since it's based on native modules.

[2019-03-04 14:46] danielberndt commented on #44
I'm just trying to create a sharp-based `ImageClass` but it's not gonna be straight forward as `resize`/`scaleDown` needs to be a synchronous whereas sharp's resize operation is async.

[2019-03-04 15:15] danielberndt commented on #44
fyi: Here's a ImageClass implementation using sharp. It supports both webp and svg in addition to all the default formats. Due to the resizing issue described in the comment above, the code resizes the image in the `load` method, effectively ignoring all resize commands that come from node-vibrant:

[code]

[2019-03-09 16:16] markmakes commented on #85
Same problem, using Angular 7 :)

[2019-03-17 12:07] orgilor opened #92 "Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The canvas has been tainted by cross-origin data"
version 3.1.0 and up.
at version 3.0.0 it doesn't happen.
stack trace:
SecurityError: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The canvas has been tainted by cross-origin data.
Error: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The canvas has been tainted by cross-origin data.
    at BrowserImage.getImageData (browser.js?cf4e:105)
    at BrowserImage.Imag

[2019-03-22 10:56] pradsdev commented on #92
I'm facing the same issue

[2019-04-02 14:42] idanlo commented on #29
+1

[2019-04-05 03:01] Shannor commented on #92
I just got this error today as well. Not sure what set it off since I didn't update anything.
I found some answer on [stackoverflow](https://stackoverflow.com/questions/22097747/how-to-fix-getimagedata-error-the-canvas-has-been-tainted-by-cross-origin-data) but I think it would require some under the hood changes to the library. I'm not exactly sure how to fix it in the mean time.

[2019-04-12 15:32] krestaino commented on #92
@Shannor It looks like that is already in the code base. I'm not sure how to fix this either, wondering if it's an issue with where the images are being served from and not this library itself, because a project I'm working on I get this issue intermittently. https://github.com/akfish/node-vibrant/blob/178f6afad09717e22613068a9229fe169b3c3228/src/image/browser.ts#L52

[2019-04-12 15:38] Shannor commented on #92
Currently my images are coming from Google Cloud buckets. Though I assume everyone is using some time of cloud hosting service at this point (AWS, Azure, etc). It could be a browser change that's effecting it, as I saw this bug on some other repos that do what node-vibrant does or is similar. I'll keep on the lookout and link anything I find with new information.

[2019-04-12 15:40] crutchcorn commented on #92
Hey y'all - sorry about radio silence for a second or three. Been having a LOT go on lately for myself. I'm still about two weeks from being able to work on this issue (and fix up some other bugs super heavily), but I'll go over some of the stuff pertaining to `crossOrigin` that I can think of off the top of my head to try and help if anyone else is looking into it (we love PRs and help investigat

[2019-04-16 20:09] IStep95 commented on #71
Where exactly should we add rules, it is not said. In which file it should be correct to add rules
[code]

[2019-04-16 20:11] crutchcorn commented on #71
Should go into your configuration for webpack.

https://webpack.js.org/concepts/loaders/ might be a good resource to find more :)

[2019-04-19 22:31] ValeriiKov commented on #29
+2

[2019-04-19 22:32] crutchcorn commented on #29
A reminder that GitHub has 👍 reactions to issues to show support without clogging the thread

[2019-04-22 09:36] ValeriiKov commented on #29
Your latest version "3.2.0-alpha" crashes in React Native with error "Can't find variable: self"

[2019-05-05 06:24] adhirajsinghchauhan commented on #90
Bump

[2019-05-11 22:18] AggressivelyMeows commented on #85
Same problem with Vue.js
Using Webpack

[2019-05-12 01:36] hybridcore8 opened #93 "Inconsistent Favicon Fetching"
I'm using node-vibrant in a web extension where one of the functions is to get the `Vibrant` color from a tab's favicon.

While it works well for many sites, a lot of sites, such as Google, Amazon, and Squarespace throw the error `Error: Fail to load image: [url of favicon] at HTMLImageElement.e.complete.e.onerror ([filename].js:[line])`, yet when I click on the link in the error message, I always

[2019-05-12 15:14] YourCreepyNeighbor commented on #85
@AggressivelyMeows, make sure you have **worker-loader** installed and change webpack configuration. In case of using Vue, you need to edit **vue.config.js**.

[code]

[2019-05-12 18:42] hybridcore8 commented on #93
Delete. Found out it was a CORS issue when debugging with XMLHttpRequest.

[2019-05-12 18:42] #93 closed

[2019-05-15 20:47] #92 closed

[2019-05-20 21:21] richdunajewski opened #95 "Node.js Results Different than Browser?"
I'm using the library under Node.js and I do get the swatches back from `getPalette()`, but the result returns undefined for `getTitleTextColor()` and `getBodyTextColor()` methods. If I use the same image and call from the browser, these methods exist and return a hex value.

I know there are differences in the values returned in each environment, but shouldn't the color methods above work on Node

[2019-06-03 17:47] Kikobeats commented on #41
let me try and pingback if I found problems 👍

[2019-06-03 18:14] Kikobeats commented on #41
In fact @crutchcorn you can close this, I will comment again if I detect a weird behavior.

Thanks for your effort and time improving the project 🙂

[2019-06-03 18:19] crutchcorn commented on #41
That's probably for the best, thinking about it more. I have been using the code in a project and have confirmed a fix on my own project. Appreciate keeping an eye out for issues @Kikobeats , feel free to bump thread if issues in future like you mentioned :)

[2019-06-03 18:19] #41 closed

[2019-06-03 19:22] #83 closed

[2019-06-03 19:22] #88 closed

[2019-06-04 05:11] crutchcorn commented on #87
Tested, confirmed fixed in a new version (under version 3.1, no breaking changes since 3.x). Please let me know if this still isn't working for some reason. Sorry about that!

[2019-06-04 05:12] #87 closed

[2019-06-04 05:20] crutchcorn commented on #76
Should be fixed for sure in 3.1.2. In the extremely ~likely~ unlikely possibility this is not the case, please bump thread, trying to clear out issues :)

[2019-06-04 05:20] #76 closed

[2019-06-04 05:32] crutchcorn commented on #90
Use `3.1.2` for now. 3.2 is an alpha and is largely untested and as a result has many known issues associated with it

[2019-06-04 05:32] #90 closed

[2019-06-04 05:57] #95 closed

[2019-06-04 06:00] crutchcorn commented on #95
You're totally right. I've found the edgecase where there was an incorrectly typed conditional. Should be fixed in 3.1.2

[2019-06-04 06:06] #71 closed

[2019-06-21 11:15] Kikobeats opened #96 "Reduce library size"
I see this library declares `jimp` as a dependency for doing some transformations.

I'm analyzing my projects dependencies (I have `node-vibrant` in my `package.json` and looks like `jimp` need a lot of spaces:

[code]

The point is, `jimp` includes some plugin by default:

[code]

but not sure if all the plugins are relevant for `node-vibrant`.

I want to suggest two approaches:

### Consider use

[2019-06-21 21:39] crutchcorn commented on #96
Love the work you've done to look into this, a sincere thank you.

`sharp` is unlikely to be a solution we're able to take on, as (despite the name) we support the browser to run `node-vibrant` on it's own.

However, you're absolutely correct that `jimp` is not required for much of the usage in `node-vibrant`. We're currently restricting development for the current "stable" codebase, we're working

[2019-06-22 09:37] Kikobeats commented on #96
I noted another thing behind `@jimp`: they have `core-js` as a dependency, and this dependency is installed per every plugin!

That's why `@jimp` sizes is 185MB: `core-js` takes 7.4MiB x 27 modules = TOO MUCH SPACE

[2019-07-27 22:26] NotWoods commented on #96
Here's some additional research on how jimp could be configured to reduce the size:

The [`@jimp/custom`](https://github.com/oliver-moran/jimp/tree/master/packages/custom) package acts as a base to add plugins onto from scratch. Its default export is a `configure` function that takes arrays of `types` (supported image types) and `plugins` (plugins to use).

`@jimp/types` exports all the types incl

[2019-07-28 18:19] crutchcorn commented on #96
Seems like I might need to write some typings, but massive thank you @NotWoods. I'll try to finish this this weekend

[2019-08-04 08:32] theninj4 opened #98 "Node.js - Crash when pulling image over broken SSL"
Hey :wave: I've found a bug, specifically here:
https://github.com/akfish/node-vibrant/blob/master/src/image/node.ts#L27-L32

[code]

Basically when downloading an image from a host whereby the SSL certificate is invalid in some way the core `https.get()` function will reject. It's not an incredibly obvious rejection, but you can see it here in their docs: https://nodejs.org/api/https.html#https_h

[2019-08-04 21:33] crutchcorn commented on #98
Thanks for looking into this and providing such a detailed bug report!

I'm busy for the next week or so, so apologies for the delay in advanced, but I'm trying to put in some more time into node-vibrant recently.

Otherwise, if this is a fix you're hoping for fairly soon, PRs are always welcome, appreciated, and are easier to set time for :)

[2019-08-05 22:37] crutchcorn commented on #96
Typings are taking longer than I thought originally. I know I'm going the long way around, but I want to make sure I'm fixing up the ecosystem as well as our own needs

[2019-08-06 23:54] crutchcorn commented on #96
The typings for jimp ended up taking a bit, but it's a good contribution upstream:

 https://github.com/oliver-moran/jimp/pull/770

After this is merged in, I'll make the optimization to `node-vibrant`

[2019-08-24 14:48] theninj4 commented on #98
Awesome. I've put in a PR to fix the bug, along with a second PR to get the build working again following some breaking changes to TravisCI :)

[2019-08-24 17:57] crutchcorn commented on #98
You're amazing @theninj4 thank you so so much. I apologize for my delays - always so much going on and have a hard time balancing it all

[2019-08-24 18:05] #98 closed

[2019-09-03 21:50] lucafaggianelli opened #101 "Not working on cross origin"
I'm using vibrant in the browser and the images are on a different server than the one serving my app, actually they're Google Places photos. I tried in both loading a string or an <img> but I always got a Cross-Origin error. My browser is Firefox.

I think cross origin images is a common scenario, how do you make it work?

[code]

Luca

[2019-09-20 15:28] SmartASCII commented on #101
Using cors-anywhere worked for me. All you have to do is prepend the cors-anywhere URL to the URL of your image.

`vibrantUrl= "https://cors-anywhere.herokuapp.com/" + imageUrl;`

Then use that to pass to the Vibrant builder. Note that you can't use this cors URL if you're just trying to load it into an img src or background-image, etc -- you'll need to use the direct URL for that still.

[2019-09-20 18:54] crutchcorn commented on #101
@SmartASCII while this might work for some instances, hammering `cors-anywhere` for larger scale projects would not be ideal (nor would leaking data that way). I'd suggest allowing the headers for any `Vibrant` request to be able to be modified added as a feature to `node-vibrant`

[2019-09-20 18:54] crutchcorn commented on #96
With the release of Jimp 0.8.4, this can now be done! I'll have a PR open tonight with it! :D

[2019-09-20 19:04] lucafaggianelli commented on #101
Yes the proxy could work, but as a temporary workaround, I wouldn't use it
in production. At the end I'm uploading pics to my server and issue is
solved

On Fri, Sep 20, 2019, 20:54 Corbin Crutchley <notifications@github.com>
wrote:

[2019-10-07 14:42] gabrielenosso opened #103 "different results on mobile"
Why the examples in the demo page give different results on desktop and mobile?

https://jariz.github.io/vibrant.js/

You can try it out also with the Chrome Dev Tools, just make the Viewport with width less than 1200.

[2019-10-07 15:22] crutchcorn commented on #103
VibrantJS is not node-vibrant. node-vibrant is a fork and continuation off of VibrantJS and as a result tests would need to be done with this library itself

[2019-10-07 15:22] #103 closed

[2019-10-23 07:41] Psiiirus commented on #29
i'm sorry i dont really get it , is the node-vibrant lib working with RN or not?

[2019-10-23 15:12] crutchcorn commented on #29
@Psiiirus it should be working in the non-alpha build

[2019-10-30 16:02] calebjclark opened #104 "Access to Swatch class"
The documentation makes it seem that Swatch is attached to the top-level Vibrant object (Vibrant.Swatch), but it's not. I'd like to use the getBodyTextColor for an existing color I already have. Cool if I submit a pull request with Swatch attached to Vibrant?

[2019-10-30 16:07] crutchcorn commented on #104
Please feel free to! I appreciate both the offer to help and making an issue to do so :)

[2019-10-30 16:47] calebjclark commented on #104
Thanks for your fast response! Pull request submitted.

[2019-11-10 20:44] RoboCopGay opened #107 "Vabrant dont working"
Uncaught DOMException: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The canvas has been tainted by cross-origin data.
    at CanvasImage.window.CanvasImage.CanvasImage.getImageData (file:///home/robocopgay/Create/Projects/githubPage/assets/vibrance_example/vibrant.js:862:27)

[2019-11-13 17:12] Susan123456789 opened #108 "Jimp.read is not a function"
I am trying to use node-vibrant on an image Buffer (obtained from an image on s3) in a node.js serverless function.

[code]

However, I keep getting the error:

[code]

[2019-11-16 21:27] crutchcorn commented on #108
This seems related to #102. I will be addressing it while addressing #96 which currently relies on:

https://github.com/oliver-moran/jimp/pull/815

Being merged

[2019-11-16 21:27] crutchcorn commented on #96
Waiting on https://github.com/oliver-moran/jimp/pull/815 in order to fix some issues after `jimp 0.8.4` with the import

[2019-11-16 21:49] crutchcorn commented on #104
Linked PR for reference: #105

[2019-11-16 21:49] #104 closed

[2019-11-22 15:08] #107 closed

[2019-11-27 16:43] #96 closed

[2019-11-27 16:59] crutchcorn commented on #108
This should be solved in the `3.1.5` release

[2019-11-27 16:59] #108 closed

[2019-11-27 17:00] crutchcorn commented on #96
This has been solved as-of the `3.1.5` release

[2019-11-28 08:29] inbarshani opened #111 "3.1.5 fails angular (typescript) build"
ERROR in node_modules/node-vibrant/lib/color.d.ts(19,9): error TS1086: An accessor cannot be declared in an ambient context.
node_modules/node-vibrant/lib/color.d.ts(20,9): error TS1086: An accessor cannot be declared in an ambient context.
node_modules/node-vibrant/lib/color.d.ts(21,9): error TS1086: An accessor cannot be declared in an ambient context.
node_modules/node-vibrant/lib/color.d.ts(22

[2019-12-01 05:14] Hirbod commented on #73
Would be awesome. With base64 support, this could run on react native too

[2019-12-16 06:23] zhangciwu opened #112 "Doc: provide a code sample to preview color on console"
like in the callback function,
[code]

preview color instantly on terminal, this is quite useful for batch console operation

[2020-01-06 10:07] ameerahallie commented on #111
I am also getting this error on trying to run a prod build.

[2020-01-06 11:44] Feargalicious commented on #111
I think this is due to angular cli not being compatible with ts 3.7, until they update it you'll have to use ts <=3.5.3, so I had to roll back to 3.1.4

[2020-02-10 20:09] crutchcorn commented on #111
Is this the case with Angular 9, does anyone know? I know they support TS3.7 now

[2020-04-15 23:03] vlow commented on #90
I'm running into the same error with 3.1.5. I'm using Angular 9.

I'm importing vibrant like this `import Vibrant from 'node-vibrant/lib/vibrant';` and I try to use it like that `Vibrant.from(this.shop.imageUrl).getPalette().then((palette) => console.log(palette));`.

[2020-04-16 22:16] Areskul commented on #101
Same issue, working on a way to fix it!

[2020-04-17 04:29] princemaple commented on #111
hey I just discovered this nice lib. I haven't used it in a project, but if it's true that the bug is related to typescript version it should be resolved now. I've been compiling angular 9 project with typescript 3.8 for a few weeks.

[2020-04-18 16:07] catusmagnus opened #113 "TypeError: CreateListFromArrayLike called on non-object"
Using ReactJS (^16.13.0) and npm.
Went through other issues, made sure to do `npm install --save-dev worker-loader` after `npm install node-vibrant@3.2.0-alpha` but error didn't resolve. The only error that resolved was the `this.WorkerClass is not a constructor` error mentioned in #85 .

Console logs this line multiple times:
`worker.ts:16 Uncaught TypeError: CreateListFromArrayLike called on non

[2020-04-22 07:54] mike-battistella commented on #60
Is this feature underway?
Is there another possibility to get the palettes for multiple images? In the fullfillment function of the promise I have no way to know for which image the palette is returned. I cannot be sure if the order of the calls is kept because some image could load slower and some quicker. So the callback functions could be called in another order (or do I understand something wr

[2020-05-05 09:13] Danistc commented on #101
Any idea on how to fix it? I'm using react-palette with images in S3 and from time to time I receive the CORS error.

[2020-05-05 13:50] SmartASCII commented on #101
I used CORS-anywhere to ensure a solution like that would work and then rolled my own CORS proxy solution into my Node project so I could redirect locally -- been working fine for months now.

[2020-07-14 12:19] polarathene commented on #58
Did anything come from this?

[2020-07-14 12:27] polarathene commented on #91
Did those docs ever materialize? The `develop` branch for monorepo has a README that just leaves the section as TODO.

Looks like a good project, with an API that's been thought out, but without some better documentation I feel it's affecting adoption a bit?

I had come here from the archived `vibrant.js` repo after viewing their demo page, but while the `master` branch README lists a bunch of int

[2020-08-31 16:32] rmkane opened #114 "[Vulnerability] Update @jimp/types to version 0.12.0"
**See:** https://snyk.io/test/npm/node-vibrant/3.1.5

## Locations

* https://github.com/Vibrant-Colors/node-vibrant/blob/master/package.json#L15
* https://github.com/Vibrant-Colors/node-vibrant/blob/develop/packages/vibrant-image-node/package.json#L22

[2020-09-03 15:43] jooohyunpark commented on #101
Any updates regarding this?

[2020-09-24 07:31] Scipionh commented on #90
Same issue with the version 3.1.5, Angular 10.

[2020-10-13 11:50] Misiu opened #115 "Prototype Pollution [High Severity] in lodash"
Snyk showed me a couple of errors about the current lodash version.
Patchable issues:

[code]

The fix is quite simple: `Upgrade lodash to version 4.17.20 or higher.`

[2020-10-13 11:54] Misiu commented on #114
[code]

[2020-10-13 11:55] Misiu commented on #114
@crutchcorn could you take a look at this please?

[2020-10-13 11:55] Misiu commented on #115
@crutchcorn could you take a look at this please?

[2020-10-14 00:48] #114 closed

[2020-10-14 00:52] #115 closed

[2020-10-14 00:55] crutchcorn commented on #115
Released on `3.1.6` of `node-vibrant`. Cutting a release for the `develop` versions as well

[2020-10-14 06:43] Misiu commented on #115
@crutchcorn thank you 🎉🎉🎉

[2020-10-15 12:12] Basher7 commented on #90
Getting same error with version 3.1.6 in Angular 10

**implement vibrent as bellow**

**then in my Code**
[code]

**Error stack**

    at Vibrant.push.aJk8.Vibrant.getPalette (vibrant.js:57)
    at Builder.push.TZCp.Builder.getSwatches (builder.js:60)

[2020-10-15 12:58] Basher7 commented on #90
@Scipionh with version 3.1.5 in Angular 10 change node-vibrent import as below

replace this `import Vibrant from 'node-vibrant/lib/vibrant';` by `var Vibrant = require('node-vibrant');`
In my project problem fixed after this changes.

[2020-10-16 11:15] a1development commented on #113
I gut the same error inside my angular 10 project.
I reverted to version 3.1.4 and with hat it works.

[2020-10-19 19:29] radenkovic opened #117 "Streams Support"
Hello there :wave:

This is an awesome library! I am building a photo platform and using `node-vibrant` for tagging photos (so you can query by color). As far as I understood -- it loads the whole image in memory, then resizes it, and then performs quantization/clustering. I am aware that there is a version with web workers, but that also does not scale well.

I am not sure if this operation can b

[2020-12-01 09:37] CAT6e commented on #113
Same on my Vue project.
Vibrant: 3.2.1.alpha-1
Vue: 2.6.12

[2020-12-03 15:25] nkCreation commented on #85
Hi. Can't find a may to make it work. I have the loader in my webpack config but still have the error...

[2020-12-14 11:26] nkCreation commented on #85
@akfish any ideas ?

[2020-12-14 21:25] crutchcorn commented on #85
Please avoid tagging maintainers directly - FWIW I'm one the current maintainer of the project.

Is there any way someone could provide a minimal reproduction that I can take a look into? I'm not able to reproduce

[2020-12-18 09:24] ivgtr commented on #85
Currently, [npmjs](https://www.npmjs.com/package/node-vibrant) has an alpha version distributed as a latest version.
In my case(use Nuxt.js), I downgraded from "3.2.1-alpha.1" to "3.1.6", and the error was solved.

[2020-12-19 14:08] micahlt commented on #85
@ivgtr Your solution worked perfectly to resolve this issue!

[code]

[2021-01-03 05:11] rubixfr00b commented on #113
Was able to replicate this issue in React 17.0.1. **Reverting to `^3.1.4`  (thanks @a1development!) fixed the problem for me.**
My approach looks like this:

[code]

[2021-01-04 12:51] vova42matters commented on #85
@ivgtr solved! thanks!
added config [from docs](https://github.com/Vibrant-Colors/node-vibrant/tree/develop#webpack-configuration) and downgraded to `node-vibrant@3.1.6`
Hope this issue will be solved in next versions of `node-vibrant`
Using React and ejected react-create-app

[2021-01-25 11:54] RohitKaushal7 commented on #101
anyone trying to fix this?

[2021-01-30 14:39] gieoon commented on #113
Thanks, reverting to ^3.1.6 worked for me.

[2021-02-02 21:16] WandersonAlves opened #119 "[NODE] Cannot find name 'HTMLImageElement' when building with TypeScript"
Hello!

As said on the title, i can't build a personal typescript project using `node-vibrant@3.2.1-alpha.1`.

`tsc` output:

[code]

tsconfig.json:

[code]

[2021-02-14 09:18] Basher7 commented on #101
adding cors-anywhere not working in my angular 10 project. node-vibrant unable to load images from server due to cors-policy

[2021-02-21 13:53] c0ncentus commented on #85
please not make like https://github.com/storybookjs/storybook/issues , as you see there is more issue for webpack crap config than "true" issue of the main functionnality.

Make usage easiest possible please.

[2021-03-03 13:45] thefyrewire opened #121 "(Browser) Importing Vibrant gives TypeError: second argument to Function.prototype.apply must be an array"
Hello, I tried to import Vibrant with:

[code]
...and received this error in Firefox 86.0 (64-bit):

![image](https://user-images.githubusercontent.com/8237302/109814135-0a662580-7c26-11eb-880b-a9ab7a20b7ff.png)

However, seems to be fine on Chrome 88.0.4324.190.

I cloned the repo and ran `npm run build` myself, then used the new `dist` and `lib` folders, and the error has now gone away. Hopefull

[2021-03-04 11:14] Fauphi opened #122 "Different result in Firefox and Chrome with same image"
I'm getting different palette results for the same image in Firefox and Chrome.
Is there a solution for this or are the results dependent on the browsers canvas implementation?

**Image:**

[https://ibb.co/gVjQ9c8](https://ibb.co/gVjQ9c8)

**Chrome:**

"Vibrant", hex: "#c86886", population: 7
"LightVibrant", hex: "#da859c", population: 5
"DarkVibrant", hex: "#612336", population: 0
"Muted", hex: "

[2021-03-06 23:10] nicolaslazzos commented on #29
Im getting `Can't find variable: document` in react-native.

[2021-03-14 18:44] JackLot commented on #121
+1 same exact behavior

[2021-04-10 09:24] danbulant commented on #122
[Browser inconsistencies, see readme](https://github.com/Vibrant-Colors/node-vibrant#result-consistency)

[2021-04-10 09:27] danbulant commented on #90
3.2 is still alpha. Why is it released on npm/set as the latest version? This error still happens when using getPallete on node.

[2021-04-20 16:33] mcqua007 commented on #113
I was getting the same error within nuxt.js went from  "node-vibrant": "^3.2.1-alpha.1", to "node-vibrant": "3.1.6",. This seemed to fix this issue. Thanks everyone above.

[2021-04-28 00:21] trivedi opened #123 "Palettes are sometimes empty for one-color images"
I've noticed an issue where sometimes images that only have one color generates an empty (or almost empty) Palette.
For example:

* https://images.genius.com/0fd1eaa39bfa4d3a449659fde8c2f0bd.1000x1000x1.jpg
   - empty palette

* https://images.genius.com/1b50c118dc7e3b3f3a70e815bdbf05c0.1000x1000x1.png
  - only returns Muted swatch (rgb 116, 84, 148)

Possibly related to #78 ?

[2021-04-28 07:55] theseyan opened #124 "Cannot find module 'node-vibrant/lib/bundle-worker'"
I installed the latest version but had to revert to v3.1.6, due to issue #113 .
I bundle my source files using webpack, and now webpack isn't compiling and throwing this error:

[code]

And this is the error on the browser console:
`Uncaught Error: Cannot find module 'node-vibrant/lib/bundle-worker'`

I am using the web worker bundle:
[code]

[2021-05-26 19:34] guloic opened #125 "How to call the util function rgbToHex? Or How to get pallete in Hex format?"
The Readme mentions `rgbToHex` but the code does not export that function in the util.ts. Any idea how that can be used?

If `getPallete` or `getSwatches` can return hex directly along with population count, that would be great.

[2021-05-26 20:33] guloic opened #126 "Pallete is much different from the source image"
**Issue** : Palette colors don't match source image
**Expected** : Palette colors should match source image
**Actual** : Palette colors are different from source image

**Steps to reproduce**
I used this source image to generate a palette.
![Source Image](https://en.seedfinder.eu/pics/00breeder/707seedbank.jpg)

And I got this palette -
[code]

The palette doesn't change irrespective of `quality`

[2021-06-14 07:43] salos1982 commented on #123
I have the same issue too

[2021-06-18 06:06] chuckdries commented on #125
It's on the swatch object. For example, with getPallete, you might call
[code]

[2021-06-23 21:03] PierBover opened #127 "ES6 import is wrong?"
In Node, this doesn't work:

[code]

I get the error:

Instead I'm using the regular import which works as expected:

[code]

Do you want me to make a PR to fix the docs?

[2021-06-24 21:20] ramfattah commented on #85
thank you!!!!!

[2021-06-26 22:27] BasixKOR opened #128 "Causes react-refresh to crash"
I'm not really sure who to report this bug, so I'm gonna be writing issue for both React and this.

Reproduction of the bug: https://codesandbox.io/s/vibrant-react-repro-bx3t9

It seems like just even importing node-vibrant breaks react-refresh for some reason.

[2021-06-28 09:06] Musabii commented on #124
I had the exact same problem. Rolling back to 3.1.3 didn't help at first but after i closed the server and did npm start again it worked.

[2021-08-16 15:54] sandstrom commented on #60
@mike-battistella That should be trivial to handle in your own code, I don't think this "feature" is something the library itself should be concerned with.

[2021-08-16 15:55] sandstrom commented on #60
Since this is pretty old and should be possible to solve in the application code, maybe this could be closed? (or moved to discussions, though you'd have to enable that for this repo first).

By closing some old issues we reduce the list of open issues to a more manageable set.

[2021-08-16 15:55] sandstrom commented on #57
Since this hasn't garnered much interest over the years, maybe it could be closed? (or moved to discussions, though you'd have to enable that for this repo first).

By closing some old issues we reduce the list of open issues to a more manageable set.

[2021-08-16 15:57] sandstrom commented on #73
Since this can easily be solved in application code (as explained above), maybe it could be closed? (or moved to discussions, though you'd have to enable that for this repo first).

By closing some old issues we reduce the list of open issues to a more manageable set.

Many open-source projects expand their scope too much, and become difficult to maintain. It's usually better to keep the scope sma

[2021-08-16 15:57] sandstrom commented on #74
Since this can be solved in application code (as explained above), maybe it could be closed? (or moved to discussions, though you'd have to enable that for this repo first).

By closing some old issues we reduce the list of open issues to a more manageable set.

Many open-source projects expand their scope too much, and become difficult to maintain. It's usually better to keep the scope smaller, m

[2021-08-16 15:58] sandstrom commented on #70
Since this can easily be solved in application code (as explained above), maybe it could be closed? (or moved to discussions, though you'd have to enable that for this repo first).

By closing some old issues we reduce the list of open issues to a more manageable set.

Many open-source projects expand their scope too much, and become difficult to maintain. It's usually better to keep the scope sma

[2021-08-16 15:59] sandstrom commented on #54
According to the readme this is now a mono-repo. Maybe this issue can be closed?

By closing some old issues we reduce the list of open issues to a more manageable set.

[2021-08-30 14:11] ioannist commented on #108
I faced this problem with 0.16.1 and I was able to resolve it by calling

Jimp.default.read()

[2021-09-02 13:45] zanjie1999 commented on #85
Same problem, using Vue.js 3 with Vite

[2021-09-18 05:06] bitdom8 opened #129 "Using ES6 get an error"
Thanks for great repo. Get an error though: TypeError: this.WorkerClass is not a constructor

[code]

[2021-09-18 05:07] bitdom8 commented on #127
Hi @PierBover , how have you managed to get it working w/ ES6?

[2021-09-18 05:18] bitdom8 commented on #85
Thanks @ivgtr

[2021-09-18 14:19] bitdom8 commented on #71
Hi, using svelte with vite, how can I configure it for webpack? Thanks

[2021-09-18 14:37] bitdom8 commented on #85
The error is resolved however when I build sveltekit it appears

[code]

[2021-09-18 17:27] micahlt commented on #85
Unless that error is directly connected to this issue (which I don't believe it is), you'll need to create a separate issue for that.

[2021-09-18 18:25] bitdom8 commented on #129
Thanks to the another thread. Error is gone. However when I run

"pnpm run build"

and

pnpm run preview

The error is resolved however when I build sveltekit it appears

Uncaught TypeError: Cannot read property 'filters' of undefined``

[2021-09-19 01:15] PierBover commented on #127
@bitdom8 import it like this:

[code]

And then use it like this:

[code]

[2021-09-19 07:19] bitdom8 commented on #127
Thanks @PierBover . It works great with :)))

`pnpm run dev`

however, when following is done, no use:(;

[code]

here is my dependencies:
 "devDependencies": {
    "@sveltejs/kit": "next",
    "@types/cookie": "^0.4.0",
    "@typescript-eslint/eslint-plugin": "^4.19.0",
    "@typescript-eslint/parser": "^4.19.0",
    "eslint": "^7.22.0",
    "eslint-config-prettier": "^8.1.0",
    "eslint-plugin-

[2021-09-19 08:14] bitdom8 commented on #127
The problem in this build file with vite bunderler:

  __importDefault||function(e){return e&&e.__esModule?e:{default:e}};Object.defineProperty(Yp,"__esModule",{value:!0});var Yd=Hd(lc),Wd=zd,Xd=function(){function e(e,a){void 0===a&&(a={}),this._src=e,this._opts=a,this._opts.filters=Wd(Yd.default.DefaultOpts.filters)}return e.prototype.maxColorCount=function(e){return this._opts.colorCount=e,this

[2021-11-01 10:05] Kikobeats commented on #44
@danielberndt that code snippet is so good, thanks for it 🙂

is it any reason you are resizing the image first? I think that keeps the image as larger as possible is going to improve the result.

[2021-11-01 18:50] malinda666 commented on #121
using,
`import Vibrant from "node-vibrant/dist/vibrant";`  solved the problem for me. in a React based project

[2021-11-02 23:08] danielberndt commented on #44
@Kikobeats if I remember correctly, I copied the default behaviour of this library which also decreased the size of the image before processing it. Resizing the image before processing leads to more consistent (and much shorter) processing times.

[2021-11-03 08:19] Kikobeats commented on #44
Hum, I tried to find the old code as reference but no success – maybe @akfish @rutchcorn can confirm is resize is a thing done internally these days or not really?

btw, I  adopt he code into a NPM high level library: https://github.com/microlinkhq/splashy/pull/15

[2021-11-03 12:46] crutchcorn commented on #44
@Kikobeats, @danielberndt is correct in terms of faster (and lower resource usage) processing when resizing.

However, because the image is now smaller and the image quantizer now inherently has less data, the output colors _will_ be less accurate (altho, FWIW "accurate" + "quantizer" is a... Dicey proposition and idk if we'll ever truly get there so long as I'm involved at any stage lol)

Honestl

[2021-11-03 15:19] danielberndt commented on #44
Here's the place where the resize is triggered:
https://github.com/Vibrant-Colors/node-vibrant/blob/8843d0094834d4685d1bff3abd77c6dd2daff82c/src/vibrant.ts#L52

[2021-11-09 19:46] yethranayeh commented on #101
This helped me with my APOD API project.

Providing URL from the fetch response works when I use it on `src` attribute of the `<img>` tag, but using the same URL for vibrant results in a CORS error.

Simply prepending the link with `"https://cors-anywhere.herokuapp.com/"` helped solve my issue. Thanks!

[2021-12-08 07:52] crutchcorn opened #130 "Cleanup Repo"
- [ ] Migrate from Mocha to Jest
- [x] Add Prettier config
- [x] Add lint-staged and Husky
- [x] Major update deps
- [x] Migrate to Yarn workspaces

[2021-12-09 20:35] johnbhiggins7 opened #131 "How to use Vibrant.Util (specifically rgbDiff)"
I've tried everything to try to use the rgbDiff function. Any ideas?

[2022-01-06 01:59] #130 closed

[2022-01-06 02:03] crutchcorn commented on #129
This is the same issue as this: #85, which I'm working on fixing right now

Temporary solution is to downgrade to `3.1.6`. The `alpha` release was never intended on being made stable and was an accident

Please open a new issue for the `filters` bug

[2022-01-06 02:06] #129 closed

[2022-01-06 02:07] crutchcorn commented on #124
This is the same issue as this: #85, which I'm working on fixing right now

Temporary solution is to downgrade to `3.1.6`. The `alpha` release was never intended on being made stable and was an accident

[2022-01-06 02:07] #124 closed

[2022-01-06 02:07] crutchcorn commented on #113
This is the same issue as this: #85, which I'm working on fixing right now

Temporary solution is to downgrade to `3.1.6`. The `alpha` release was never intended on being made stable and was an accident

[2022-01-06 02:07] #113 closed

[2022-01-06 02:19] crutchcorn commented on #111
I'm going to close this. `3.1.5` is older, and, upon spinning up a new project in Angular with the newest TypeScript, it seems that `3.1.6` has fixed this

Please let me know if I'm mistaken

[2022-01-06 02:20] crutchcorn commented on #121
This is the same issue as this: #85, which I'm working on fixing right now

Temporary solution is to downgrade to `3.1.6` or use the import @malinda666 suggested. The `alpha` release was never intended on being made stable and was an accident

[2022-01-06 02:21] crutchcorn commented on #112
Closing this - although it's a neat idea. We don't want to add another dep in our pipeline if we can avoid it

[2022-01-06 02:21] #111 closed

[2022-01-06 02:23] #74 closed

[2022-01-06 02:28] crutchcorn commented on #57
I generally agree that we should not build out this functionality and instead leave it to its own community package.

@sandstrom I've noticed you've left this comment on a few of the issues on the repo - are you willing/wanting to contribute to the project at all? I'd be happy to do a 1:1 convo call to walk through what we need help with if you'd like

[2022-01-06 02:29] crutchcorn commented on #70
Marking this as closed, since it should be done ahead-of-time in another package as mentioned previously

[2022-01-06 02:29] #70 closed

[2022-01-06 02:30] crutchcorn commented on #60
Closing in favor of a `for` loop currently, with a processor pipeline in the rewrite down the road

[2022-01-06 02:30] #60 closed

[2022-01-06 02:30] #121 closed

[2022-01-06 02:31] crutchcorn commented on #128
This is the same issue as this: #85, which I'm working on fixing right now

Temporary solution is to downgrade to `3.1.6`. The `alpha` release was never intended on being made stable and was an accident

[2022-01-06 02:31] #128 closed

[2022-01-06 16:21] sandstrom commented on #57
@crutchcorn Thanks for asking!

I looked at this a few months ago, because we were thinking about using it. We still haven't, though we may in the future.

Since we aren't actively using it now, and I'm quite busy with the company I'm running, I don't think I have time right now, sorry.

But happy if I could help out with some issue gardening 🌱🌿 🌷.

[2022-01-09 01:23] micahlt commented on #101
What's odd is that it seems that there is code to handle this, but it just isn't working right: https://github.com/Vibrant-Colors/node-vibrant/blob/8843d0094834d4685d1bff3abd77c6dd2daff82c/src/image/browser.ts#L49-L51

[2022-01-09 02:53] micahlt commented on #73
It's notable that this no longer works since Vibrant takes only an image source as the argument, and not an `Image` object.

[2022-02-16 04:01] christophersjchow commented on #119
Pretty sure `HTMLImageElement` is part of the [dom definitions](https://www.typescriptlang.org/tsconfig#lib). So include `"dom"` in the `"lib"` array

[2022-04-05 16:18] nandorojo opened #132 "Different results on desktop vs mobile browser for same image"
# Bug

Mobile browsers and desktop browsers return a different set of colors for the same image.

Take this image:

<img src="https://user-images.githubusercontent.com/13172299/161787136-40aaff27-3984-4219-b8a7-609b4ac19bb1.png" width="300" />

The colors it produces are radically different on a mobile and desktop browser.

To see this in action, [open this URL](https://5rr127.csb.app/) on both a

[2022-04-11 11:49] nachtfunke opened #133 "Working with extracted HSL values"
Hello!

This may seem like a really stupid question, but I am only interested in the extracted hue value. But I am not sure how I am supposed to correctly work  with the returned value? I am trying to extract the hue value and feed it to a css custom property, which uses it in a `hsl()` function, which requires the hue to be in degrees, but the value that is being returned is a number from 0 - 1.

[2022-04-24 01:18] vicvillalobos commented on #101
Cors-anywhere no longer provides this functionality in a permanent fashion, and it was never meant to be used in production builds anyway.

[2022-05-03 13:37] Tararan commented on #101
Does anyone have a solution to this issue?
I am currently fetching data from NYT (getting books) and their books are hosted on storage.googleapis.com.

And I'm getting CORS error whenever I try using Vibrant to get colors from images.

If you have any ideas except for using cors-anywhere I'm listening

[2022-05-19 09:04] danarosca opened #134 "get more than 6 colors"
hi guys, is there a way to get more than 6 colours in the end? Maybe a way to have access to the initial palette? Thanks

[2022-07-25 21:04] beeftony commented on #85
Still having the same problem with Vue3, Nuxt3, node-vibrant@3.1.6 and worker-loader@3.0.8...

[2022-08-09 19:02] v-dawg commented on #119
I have the same error (its not a type error, it is a runtime error)

[2022-08-26 13:19] mploux commented on #101
Same issue, any news ?

[2022-09-03 14:01] Sandakan opened #135 "Security vulnerability on a dependency 'jpeg-js'"
A new security vulnerability "Infinite loop in jpeg-js" with high-level severity in one of the package's dependencies has been detected. Most probably, every version of node-vibrant could be affected.

[2022-09-10 22:59] confuser commented on #135
Work around if on npm v8.3.0+ using [overrides](https://docs.npmjs.com/cli/v8/configuring-npm/package-json/#overrides)

[code]

[2022-09-11 07:19] Sandakan commented on #135
@confuser Thanks for the help. It fixed the vulnerability. 😁😁

[2022-09-11 07:19] #135 closed

[2022-09-11 11:31] Anto007 opened #137 "asa"

[2022-09-11 11:32] #137 closed

[2022-09-18 13:39] baoshan opened #138 "Bug: web worker quantizer not working"
The worker version throws the following error:

[code]

Because [this line](https://github.com/Vibrant-Colors/node-vibrant/blob/8843d0094834d4685d1bff3abd77c6dd2daff82c/src/quantizer/worker/worker.ts#L21) posts objects of type `Swatch`, which has no `rgb` and `population` properties when [deserialized here](https://github.com/Vibrant-Colors/node-vibrant/blob/8843d0094834d4685d1bff3abd77c6dd2daff82

[2022-10-01 11:35] Lucienest commented on #85
It's been two years, you guys still couldn't fix it??

[2022-10-01 23:30] crutchcorn commented on #85
@Lucienest you're welcome to open a PR to fix this.

[2022-11-18 15:48] deggertsen commented on #101
We're doing this, but unfortunately that's not solving the problem for us either. Still looking for a solution and will report back if I find one.